[mysqld5173]
port=5173
socket=/tmp/mysql5173.sock
basedir=/usr/local/mysql_5.1
datadir=/usr/local/mysql_5.1/data
user=mysql
log-error=/var/log/mysqld5173.log
pid-file=/tmp/mysqld5173.pid
bind-address=0.0.0.0

[mysqld5612]
port=5612
socket=/tmp/mysql5612.sock
basedir=/usr/local/Cellar/mysql/5.6.21
datadir=/usr/local/Cellar/mysql/5.6.21/data
user=mysql
log-error=/var/log/mysql5612.log
pid-file=/tmp/mysqld5612.pid
bind-address=0.0.0.0
